{% if description %}
<label class="field-label">
    תיאור המכרז:
</label>
<div class="objective">
    {{description}}
</div>
{% endif %}

{% if reason %}
<div>
  <label class="field-label">
    סיבה:
  </label>
  {{reason}}
</div>
{% endif %}

{% if documents.length > 0 %}
<div>
    <label class="field-label">
        מסמכים רלוונטים:
    </label>
    <ul>
        {% for document in documents %}
        <li>
            <a href="{{ document.link }}">{{ document.description }}</a>

          {% if document.update_time %}
            [{{document.update_time}}]
          {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if subjects %}
<div>
    <label class="field-label">
        תגיות נושא:
    </label>
    {{ subjects }}
</div>
{% endif %}

{% if claim_date %}
<div>
    <label class="field-label">
        מועד הבקשה:
    </label>
    {{ claim_date }}
</div>
{% endif %}

{% if end_date %}
<div>
    <label class="field-label">
        סוף מכרז:
    </label>
    {{ end_date }}
</div>
{% endif %}

{% if contact %}
<div>
  <label class="field-label">
   איש קשר:
  </label>
  {{ contact }} {{contact_email}}
</div>
{% endif %}

{% if supplier %}
<div>
  <label class="field-label">
   זכיין:
  </label>
  {{supplier}}
</div>
{% endif %}

<div>
    <small>
        עוד מידע ניתן למצוא ב
        <a href="{{page_url}}">
            אתר מנהל הרכש
        </a>
    </small>
</div>
