@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:700,400&subset=hebrew');

html, body {
  min-height: 100%;
  background: #FCFCFC;
  font-family: "Abraham TRIAL", "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-feature-settings: 'tnum','lnum';
  -webkit-font-feature-settings: 'tnum','lnum';
  -moz-font-feature-settings: 'tnum','lnum';
}

.app {
  //position: relative;
  background: #FCFCFC;
}

.budgetkey-item-wrapper {

  .budgetkey-item-visualizations-wrapper {
    overflow: visible;
    width: 80%;
    margin-right: 10%;

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin: 0;
    }

    &:before, &:after {
      content: '';
      display: block;
      height: 1px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .tabs {
      .tabs-row {
        height: 75px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .tab-header {
          display: inline-block;
          text-align: center;
          .tab-title {
            color: #9E9E9E;
            font-family: "Miriam Libre";
            font-size: 18px;
            font-weight: bold;
            margin-top: 50px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
          }

          &.active .tab-title {
            color: #4A4A4A;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        .tabs-row {
          display: flex;
          flex-flow: row;
          height: 85px;
          justify-content: flex-start;
          align-items: center;
          width: ~"calc(100vw + 2px)";
          overflow-x: scroll;
          overflow-y: hidden;
          margin-right: -16px;

          .tab-header {
            display: block;
            width: 75vw;
            border: 1px solid #D8D8D8;	
            flex: 1 0 auto;
            position: relative;

            &.active {
              background-color: #F5F5F5;
              .tab-title {
                color: #4A4A4A;
              }

              &:after, &:before {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }
              
              &:after {
                border-color: rgba(245, 245, 245, 0);
                border-top-color: #f5f5f5;
                border-width: 8px;
                margin-left: -8px;
              }
  
              &:before {
                border-color: rgba(216, 216, 216, 0);
                border-top-color: #d8d8d8;
                border-width: 9px;
                margin-left: -9px;
              }
            }

            .tab-title {
              color: #9E9E9E;	
              font-family: "Miriam Libre";
              font-size: 18px;
              font-weight: bold;  
              margin: 20px 0px;
              white-space: nowrap;
              cursor: pointer;
            }
 
          }
        }

      }
    }

    .subtabs {
      display: flex;
      flex-flow: column;
      align-items: center;

      .subtab-row {
        width: 100%;
        // min-height: 68px;
        padding: 20px 0;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;

        @media only screen and (max-width: 600px) {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }

      .subtab {
        display: inline-block;
        text-align: center;

        @media only screen and (max-width: 600px) {
          width: 100%;
          text-align: right;
        }

        input, label {
          margin: 0;
          color: #3C4948;
          font-family: "Abraham TRIAL";
          font-size: 20px;
          font-weight: 100;
          vertical-align: middle;

          .figure {
            color: #FE8255;
            font-family: "Miriam Libre";
            font-weight: bold;
          }

        }

        input {
          margin-top: -1px;
        }
      }
    }

    .tab-contents {
      padding: 55px 0 10px 0;
      margin: 0;

      @media only screen and (max-width: 600px) {
        padding: 10px;
      }
    }

    .subtab-title {
      color: #4A4A4A;
      font-family: "Miriam Libre";
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;

      @media only screen and (max-width: 600px) {
        font-size: 16px;
      }

    }

    .chart-title {
      min-height: 41px;
      color: #4A4A4A;
      font-family: "Miriam Libre";
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
      border-bottom: 1px solid black;
      padding-bottom: 9px;
      @media only screen and (max-width: 600px) {
        white-space: normal;
        font-size: 18px;
      }
    }

    .chart-description {
      font-family: "Miriam Libre";
      font-size: 16px;
      font-weight: normal;
      color: #888;
    }
  }

  .questions-panel {
    -webkit-box-shadow: 0px -10px 10px -5px rgba(170,170,170,.5);
    -moz-box-shadow: 0px -10px 10px -5px rgba(170,170,170,.5);
    box-shadow: 0px -10px 10px -5px rgba(170,170,170,.5);
  }

  .data-table {
    // z-index: 9001;
    position: relative;
    top: -1px;
  }

  .desktop-notification {
    display: none;
    flex-flow: column;
    align-items: center;
    color: #4A4A4A;	font-family: "Abraham TRIAL";	font-size: 16px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 600px) {
    .questions-panel, .data-table {
      display: none;
    }

    .desktop-notification {
      display: flex;
    }  
  }

  .budgetkey-item-questions-wrapper {
    border: 0;
    border-bottom: 1px solid #F0F0F0;
    background: #FFFFFF;

    .download-data {
      margin: 12px 0;
      border-left: 1px solid #444;
      padding-left: 5px;
      text-align: left;
    }

    .budgetkey-item-questions {
      box-sizing: border-box;
      margin: 10px 0;
      background: #FCFCFC;
      padding: 0;
      position: relative;

      &.expanded {
        .current {
          border-bottom-left-radius: 0;
        }
        .toggle {
          border-bottom-right-radius: 0;
        }
      }

      .current {
        box-sizing: border-box;
        padding: 10px 60px 10px 20px;
        border: 1px solid #F0F0F0;
        border-right: 0;
        border-radius: 5px 0 0 5px;

        span {
          cursor: pointer;
        }
      }

      .toggle {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        border: 1px solid #F0F0F0;
        border-radius: 0 5px 5px 0;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          flex: 0 1 auto;
        }
      }

      .questions {
        box-sizing: border-box;
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: auto;
        background: #FCFCFC;
        border: 1px solid #F0F0F0;
        border-top: 0;
        border-radius: 0 0 5px 5px;

        & > div {
          padding: 10px 60px 10px 20px;
          border: 0;
          border-top: 1px solid #F0F0F0;
          position: relative;
          cursor: pointer;

          &:first-child {
            border-top: 0;
          }

          &.active {
            background-color: #FF5A5F19;
          }

          &:after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 39px;
            border-left: 1px solid #F0F0F0;
          }
        }
      }
    }

    .item-questions-actions {
      text-align: center;
      padding: 15px 0;

      a {
        border-left: 1px solid #F0F0F0;
        display: inline-block;

        &:last-child {
          border-left: 0;
        }
      }

      svg {
        display: inline-block;
        margin: 5px 20px;

        path {
          stroke: none;
          fill: none;
        }

        path.stroked {
          stroke: #979797;
          stroke-width: 1px;
        }
        path.filled {
          fill: #979797;
        }
      }

    }
  }

  .item-questions-parameter {
    display: inline-block;
    margin: 0.1em 0;
    vertical-align: middle;

    &.value, & > .value {
      box-sizing: border-box;
      border: 0;
      padding: 1px 3px 0 3px;
      border-bottom: 3px solid rgba(255, 90, 95, 0.2);
      border-radius: 4px;
      overflow: hidden;
      background: rgba(255, 90, 95, 0.1);
    }

    & > .values {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      right: -5px;
      position: absolute;
      z-index: 9999;

      li {
        list-style: none;
        margin: 0;
        cursor: pointer;
        padding: 4px 8px;
        white-space: nowrap;

        &:hover, &.selected {
          background-color: #FCEBEC;
          box-shadow: inset 0 0 0 0 #FCCECF;
        }
      }
    }
  }

  .budgetkey-item-data-wrapper {
    border: 0;
    background: white;

    .no-data-available {
      padding: 20px;
      color: #B7B7B7;
      font-weight: bold;
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 5px;

      td {
        padding: 10px;
      }

      thead td {
        color: #B7B7B7;
        font-weight: bold;
      }

      tbody tr {
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.number {
  direction: ltr;
  display: inline-block;
}

.container-fluid {
  max-width: 1280px;
}

span.median-icon {
  background-image: url('assets/img/icon-median.svg');
  width: 18px;
  height: 11px;
  display: inline-block;
}

@import url('./simple.less');
@import url('./report.less');
@import url('./org.less');
@import url('./procure.less');
@import url('./chart-template.less');
@import url('./people.less');
