.style-report {
    .row {
      position: relative;
    }
  
    .container {
      margin-top: 25px;
      // background-color: rgba(216, 239, 197, 0.14);
    }
  
    .title {
      font-family: "Miriam Libre", sans-serif;
      font-size: 32px;
      font-weight: normal;
      line-height: 38px;	
      text-align: center;
      margin-top: 27px;

      strong {
        background-color: #FEE2DA;
        display: inline-block;

        span {
          text-decoration: underline;
          cursor: pointer;
        }

        .report-dropdown {
          background: white;
          padding: 10px;
          position: absolute;
          z-index: 1;
          max-height: 260px;
          overflow-y: scroll;
          box-shadow: 0px 5px 9px -4px rgba(0,0,0,0.75);

          &.hidden {
            display: none;
          }

          span {
            display: block;
            font-size: 24px;
            font-weight: normal;
            text-decoration: none;
            text-align: right;
          }
        }
        // &::after {
        //   content: "\e114";
        //   font-family: 'Glyphicons Halflings';
        //   font-style: normal;
        //   font-weight: 400;
        //   font-size: 20px
        // }
      }
    }
  
    .indicator {
      > div {
        width: 100%;
        text-align: center;
        margin-top: 70px;
      }
      img {
        height: 85px;
        margin-bottom: 20px;
      }
      .indicator-text {
        color: #4A4A4A;	
        font-size: 18px;	
        line-height: 28px;	
  
        .figure {
          font-weight: bold;
          line-height: 40px;
          font-size: 28px;
        }
      }
    }
  
    .borderon {
      box-sizing: border-box;	
      height: 186px;	
      width: 3px;	
      border: 1px solid #E6E6E6;
      float: left;
      position: relative;
      right: 15px
    }
  
    .row > div:last-child .borderon {
      display: none;
    }
  
    .suffix {
      margin-top: 60px;
      margin-bottom: 30px;
      color: #AAAAAA;
      font-family: "Miriam Libre";
      font-size: 16px;
      text-align: center;
      font-weight: 400;
    }
  }
  