בשנת {{year}} תקציב {{title}}
{% if net_allocated %}
 עמד על {{net_allocated | format_number}}₪.
{% endif %}
{% if not net_allocated %}
  לא הוקצה.
{% endif %}

{% if (net_allocated != net_revised) %}
<br />
אחרי העברות תקציביות, התקציב עמד על {{net_revised | format_number}}₪
{% endif %}


{% if total_direction_income < 0 %}
<br />
יחד עם הכנסות עצמיות של {{ -total_direction_income | format_number}}₪, סך ההוצאות תחת סעיף זה הן
{{ total_direction_expense | format_number }}₪.
{% endif %}
<br />

{% if covid19_expenses_revised > 0 %}
<strong>
תחת סעיף זה הוקצתה הוצאה מיוחדת להתמודדות עם מגיפת הקורונה בסך של 
{{covid19_expenses_revised | format_number}}₪.
</strong>
<br />
{% endif %}

בחלוקה לפי סוגי הוצאה עיקריים:
<ul>
  {% if total_econ_cls_salaries > 0 %}
  <li>שכר: {{total_econ_cls_salaries | format_number}}₪
    (%{{(total_econ_cls_salaries/total_direction_expense*100) | format_number}})
  </li>{% endif %}
  {% if total_econ_cls_transfers > 0 %}
  <li>תמיכות והעברות: {{total_econ_cls_transfers | format_number}}₪
    (%{{(total_econ_cls_transfers/total_direction_expense*100) | format_number}})
  </li>{% endif %}
  {% if total_econ_cls_procurement > 0 %}<li>רכש וקניות: {{total_econ_cls_procurement | format_number}}₪
    (%{{(total_econ_cls_procurement/total_direction_expense*100) | format_number}})
  </li>{% endif %}
</ul>

{% if (history[(year-1)].net_executed) %}
<br />
הביצוע בשנת {{year-1}} עמד על
{{history[year-1].net_executed | format_number}}₪
<br />
{% elif (history[(year-2)].net_executed) %}
הביצוע בשנת {{year-2}} עמד על
{{history[year-2].net_executed | format_number}}₪
<br />
{% elif (history[(year-3)].net_executed) %}
הביצוע בשנת {{year-3}} עמד על
{{history[year-3].net_executed | format_number}}₪
<br />
{% elif (history[(year-4)].net_executed) %}
הביצוע בשנת {{year-4}} עמד על
{{history[year-4].net_executed | format_number}}₪
<br />
{% endif %}

{% if personnel_allocated + contractors_allocated %}
תחת סעיף זה מוקצים
{% if personnel_allocated %}
{{personnel_allocated | format_number}}
תקני כח אדם
{% endif %}
{% if (personnel_allocated>0) and (contractors_allocated>0) %}
, ובנוסף
{% endif %}
{% if contractors_allocated %}
{{contractors_allocated | format_number}} חודשי עבודה בלתי צמיתה (יועצים וקבלנים)
{% endif %}.
<br />
{% endif %}
