
<label class="field-label">
    תיאור ומטרת הארגון:
</label>
<div class="objective">
    {% if details.guidestar_slogan %}
    <h2>
        ״{{ details.guidestar_slogan }}״
    </h2>
    {% endif %}
    <div>
        {{ details.objective }}
    </div>
</div>
<div>
    <label class="field-label">
        תאריך ייסוד:
    </label>
{{ details.registration_date }}
</div>
<div>
    <label class="field-label">
    כתובת:
    </label>
{{ details.address }}
</div>
{% if (details.founders) %}
<div>
    <label class="field-label">
מייסדים:
    </label>
{{ details.founders | join(", ") }}
</div>
{% endif %}
{% if details.activity_region %}
<div>
    <label class="field-label">
איזור פעילות בארץ:
    </label>
{{ details.activity_region }}
</div>
{% endif %}
<div>
    <label class="field-label">
ניהול תקין:
    </label>
{{ details.proper_management }}
</div>
<div>
<small>
    מידע נוסף ניתן למצוא באתר
    <a href="http://www.guidestar.org.il/he/organization/{{ id }}" target="_blank">גיידסטאר</a>
</small>
</div>