<div class='soproc-header'>
    <div class='soproc-bg'></div>
    <h1>מפתח לרכש החברתי - בהרצה, נתונים לא סופיים</h1>

    <div class='page-links'>
        <a *ngFor='let link of PAGE_LINKS' [href]='link.href + "?theme=soproc"' [class.active]='item.breadcrumbs === link.title'>{{ link.title }}</a>
    </div>

    <div class='well filters-wrapper'>
        <div class='filters'>
            <div class='filter' *ngFor='let filter of PAGE_FILTERS'>
                <label [for]='filter.id'>{{ filter.title }}</label>
                <budgetkey-multi-select [(value)]='filters[filter.id]' (valueChange)='filtersChanged()' [id]='filter.id' [options]='parameters[filter.id]'></budgetkey-multi-select>
            </div>
            <div class='filter' *ngIf='subunits'>
                <label>מנהל/אגף</label>
                <select [(ngModel)]='item.unit' (change)='processLevel(); filtersChanged()'>
                    <option value='' selected>הכל</option>
                    <option *ngFor='let option of subunits' [value]='option'>{{option}}</option>
                </select>
            </div>
        </div>
    </div>
    <a class='clear-filters' (click)='clearFilters()'>ניקוי כל הסינונים</a>
</div>

<div class='tab-selectors'>
    <a [class.active]='currentTab === "services"' (activated)='currentTab = "services"' tabindex='0' clickOnReturn>תמונת השירותים</a>
    <a [class.active]='currentTab === "suppliers"' (activated)='currentTab = "suppliers"' tabindex='0' clickOnReturn>הרחבה לגבי מפעילי השירותים</a>
</div>

<div class='charts columns-2'>
    <ng-container *ngFor='let ct of chartTemplates'>
        <ng-container *ngIf='charts[ct.id] && currentTab === ct.location'>
            <div class='single-chart'>
                <div class='chart-title' [innerHtml]='processTitles(ct.title)'></div>
                <div class='chart-subtitle'>{{ct._subtitle}}</div>
                <budgetkey-chart-plotly [layout]='charts[ct.id].layout' [data]='charts[ct.id].data'></budgetkey-chart-plotly>
            </div>
        </ng-container>
    </ng-container>    
</div>

<soproc-data-table *ngIf='colorscheme | async' [tables]='tables' [default]='"services"' [replacements]='replacements' [filename]='item.page_title'></soproc-data-table>