@import '../soproc-common/social-service-common.less';

:host {

    .soproc-header {
        h3 {
            font-weight: 300;
            margin-bottom: 20px;
        }

        .headline {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300px;
        }
    
        .breadcrumbs {
            font-size: 16px;
            font-weight: 700px;
            margin-bottom: 20px;
        }
    
        h1 {
            margin: 0;
            font-size: 40px;
        }
    
        .info {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;

            .properties {
                flex: 1 1 75%;
                // width: 60%;
                .property {
                    > * {
                        line-height: 22px;
                        font-size: 18px;
                    }
                    label {
                        margin: 0;
                        margin-top: 20px;
                        display: block;
                    }
                    a {
                        text-decoration: underline;
                    }
                    margin-bottom: 8px;
                }
                margin-bottom: 40px;
                padding-left: 40px;
            }

            .map {
                flex: 100 100 25%;
                display: flex;
                flex-flow: row;
                margin-right: auto;
                align-self: center;
                min-width: 200px;
                max-width: 300px;

                svg {
                    flex: 0 0 auto;
                    // width: 50%;
                }
            }
        }
    }

}