<div class='marquee'>
    <span class='status-alert' *ngIf='alertText()'>{{ alertText() }}</span>
    <span class='status-text' *ngIf='statusText()'>{{ statusText() }}</span>
    <span class='status-timestamp' *ngIf='lastUpdateDate()'>
        עדכון אחרון: {{ lastUpdateDate() }}
    </span>
    <span class='created-timestamp' *ngIf='firstUpdateDate()'>
        דיווח ראשון: {{ firstUpdateDate() }}
    </span>
</div>
<div class='header'>
    <div class='titles'>
        <div class='title'>
            {{ itemTitle() }}
            <span class='tender-type-tag'>
                {{ tagText() }}
            </span>
        </div>
        <div class='parties'>
            <span class='from'>{{ publisher() }} &larr;</span>
            <ng-container *ngIf='toText()'>
                <span class='to'>
                    {{ toText() }}
                </span>
            </ng-container>
            <ng-container *ngIf='!toText() && item.awardees && item.awardees.length'>
                <span class='to'>
                    {{ item.awardees[0].entity_name }}
                    <span *ngIf='item.awardees.length > 1'>
                        +{{ item.awardees.length - 1 }}
                    </span>
                </span>
                <span *ngIf='item.awardees.length == 1' class='to-entity-id'>
                    {{ item.awardees[0].entity_id }}
                </span>
            </ng-container>
        </div>
        <div class='tags'>
            <span class='tag' *ngFor='let tag of item.subject_list'>
                {{ tag }}
            </span>
        </div>
    </div>
    <div class='amount' *ngIf='totalAmount()'>
        <div class='progress-text'>

            <timeline-part [size]='13'
                           [percent]='100 * totalPaid() / totalAmount()'
                           [padding]='0' 
                           [major]='true'
                           [last]='true'>
            </timeline-part>
            <span>
                <span>עד כה שולמו</span>
                <!--span class='figure' [innerHtml]='number(item.contract_executed)'></span>
                <span>שהם</span-->
                <span class='figure' [innerHtml]='percent(totalPaid() / totalAmount())'></span>
                <span>מתוך:</span>
            </span>
        </div>
        <div class='volume'>
            <span class='figure' [innerHtml]='number(totalAmount()) + "₪"'></span>
        </div>
    </div>
</div>
<div class='details'
     [style.width]='actionables() ? "75%" : "100%"'>
    <div *ngIf='item.budget_code'>
        <label>סעיף תקציבי:</label><br/>
        <span class='label-text'>{{ item.budget_title }} ({{ item.budget_code }})</span>
    </div>
    <div *ngIf='item.purchase_method'>
        <label>אופן רכישה:</label><br/>
        <span class='label-text'>{{ item.purchase_method }}</span>
    </div>
    
    <ng-container *ngIf='item.tender_type'>
        <div *ngIf='description()'>
            <label>תיאור:</label><br/>
            <span class='label-text'>{{ description() }}</span>
        </div>
        <label>פרטי המכרז:</label>
        <span class='label-text'>{{item.tender_id}}: {{tenderType()}}</span>
        <span class='label-text' *ngIf='item.claim_date'>מועד סגירה: 
            <span [innerHtml]='relative(item.claim_date)'></span>
        </span>
    </ng-container>

    <span class='label-text' *ngIf='item.contact'>אנשי קשר: {{ item.contact }}</span>
    
    <div class='payments' *ngIf='paymentsTable()'>
        <label>דוחות רבעוניים</label>
        <table>
            <thead>
                <th></th>
                <th></th>
                <th>ינואר - מרץ</th>
                <th></th>
                <th>אפריל - יוני</th>
                <th></th>
                <th>יולי - ספטמבר</th>
                <th></th>
                <th>אוקטובר - דצמבר</th>
            </thead>
            <tbody>
                <tr *ngFor='let row of paymentsTable()'>
                    <td>{{ row.year }}</td>
                    <ng-container *ngFor='let period of ["1","2","3","4"]'>
                        <td>
                            <ng-container *ngIf='row[period]'>
                                <a class='bk-tooltip-anchor' 
                                [href]='row[period].url' 
                                target='_blank'
                                *ngIf='row[period].url && row[period].diff != 0'>
                                    <i class='glyphicon glyphicon-paperclip'></i>
                                    <span class='bk-tooltip'>להורדת הדו"ח הרבעוני</span>
                                </a>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf='row[period]'>
                                <span *ngIf='row[period].diff != 0'
                                    [innerHtml]="number(row[period].diff) + '₪'">
                                </span>
                                <span *ngIf='row[period].diff == 0'>
                                    &#8212;
                                </span>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

    </div>
    <div class='awardees' *ngIf='item.awardees && item.awardees.length && item.contract_executed'>
        <table>
            <thead>
                <th>הזוכים במכרז</th>
                <th>סכום ההתקשרות</th>
                <th>עד כה שולם</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor='let awardee of item.awardees'>
                    <td>{{ awardee.entity_name }}</td>
                    <td [innerHtml]='number(awardee.volume) + "₪"'></td>
                    <td [innerHtml]='number(awardee.executed) + "₪"'></td>
                    <td [innerHtml]='"(" + percent(awardee.executed/item.contract_executed) + ")"'></td>
                    <td>
                        <a *ngIf='awardee.entity_id'
                           [href]='entityLink(awardee)'>
                            <i class='glyphicon glyphicon-circle-arrow-left'></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='timeline' *ngIf='item.timeline'>
        <table>
            <tbody>
                <tr *ngFor='let event of item.timeline; let i = index'
                    [class]="event.major ? 'major' : 'minor' ">
                    <td><timeline-part [size]='25' 
                                       [padding]='22' 
                                       [major]='event.major'
                                       [last]='i == (item.timeline.length - 1)'
                                       [percent]='event.percent'
                                       >
                        </timeline-part></td>
                    <td>{{ event.timestamp }}</td>
                    <td>
                        <a [href]='event.url' *ngIf='event.url'>
                            <i class='glyphicon glyphicon-paperclip'></i>                        
                        </a>
                    </td>
                    <td>{{ event.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class='attachments' *ngIf='item.documents && item.documents.length > 0'>
    <label>קבצים מצורפים:</label>
    <div class='file-list'>
        <div class='attachment' *ngFor='let attachment of item.documents'>
            <div class='update-time' [innerHtml]='relative(attachment.update_time)'>
            </div>
            <div class='paperclip'>
                <i class='glyphicon glyphicon-paperclip'></i>
            </div>
            <div class='filename'>
                <a [href]='attachment.link'>{{ attachment.description }}</a>
            </div>
            <div class='icon'>
                <i class='glyphicon glyphicon-file'></i>
            </div>
        </div>
    </div>
</div>
<div class='payments-graph' *ngIf='item.payments'>
    <label>סכום התשלומים המצטבר בהתקשרות
        <span style='font-weight: normal'>(לפי רבעונים)</span>
    </label>
    <budgetkey-contract-payments [payments]='item.payments'>
    </budgetkey-contract-payments>
</div>