<div class='marquee'>
    <span class='status-alert' *ngIf='alertText()' [innerHtml]="tooltip(alertText())"></span>
    <span class='status-text' *ngIf='item.simple_decision' [innerHtml]="tooltip(item.simple_decision)"></span>
    <span class='status-text' *ngIf='item.tender_type=="exemptions"'>פטור ממכרז</span>
    <span class='status-timestamp' *ngIf='lastUpdateDate()'>
        עדכון אחרון: {{ lastUpdateDate() }}
    </span>
    <span class='created-timestamp' *ngIf='firstUpdateDate()'>
        דיווח ראשון: {{ firstUpdateDate() }}
    </span>
</div>
<div class='header'>
    <div class='titles'>
        <div class='title'>
            <span [innerHtml]='tooltip(itemTitle())'></span>
            <span *ngIf='item.simple_decision_long' 
                  class='tender-type-tag' 
                  [innerHtml]='tooltip(item.simple_decision_long)'></span>
        </div>
        <div class='parties'>
            <span class='from' [innerHtml]='tooltip(publisher()) + " &larr;"'></span>
            <ng-container *ngIf='item.awardees_text'>
                <span class='to' [innerHtml]='tooltip(item.awardees_text)'>
                </span>
            </ng-container>
        </div>
        <div class='tags'>
            <span>
                <span class='tag' *ngFor='let tag of item.subject_list_keywords'>
                    {{ tag }}
                </span>
            </span>
        </div>
    </div>
    <div class='amount' *ngIf='totalAmount()'>
        <div class='progress-text'>

            <timeline-part [size]='13'
                           [percent]='100 * totalPaid() / totalAmount()'
                           [padding]='0' 
                           [major]='true'
                           [last]='true'>
            </timeline-part>
            <span>
                <span>עד כה שולמו</span>
                <!--span class='figure' [innerHtml]='number(item.contract_executed)'></span>
                <span>שהם</span-->
                <span class='figure' [innerHtml]='percent(totalPaid() / totalAmount())'></span>
                <span>מתוך:</span>
            </span>
        </div>
        <div class='volume'>
            <span class='figure' [innerHtml]='number(totalAmount()) + "₪"'></span>
        </div>
    </div>
</div>
<div class='hero'>
    <div class='details'>   
        <div *ngIf='item.tender_type == "exemptions"'>
            <label>סוג הליך רכש:</label>
            <span class='label-text'>פטור ממכרז</span><br/>
            <label>מספר הפרסום:</label>
            <span class='label-text' [innerHtml]='item.publication_id'></span><br/>
            <ng-container *ngIf='item.extended_status'>
                <label>מצב נוכחי:</label>
                <span class='label-text' [innerHtml]='tooltip(item.extended_status)'></span><br/>
            </ng-container>
            <ng-container *ngIf='item.reason'>
                <label>סיבות בקשת הפטור:</label>
                <span class='label-text' [innerHtml]='tooltip(item.reason)'></span><br/>
            </ng-container>
            <ng-container *ngIf='item.regulation'>
                <label>הסתמכות על תקנה:</label>
                <span class='label-text' [innerHtml]='tooltip(item.regulation)'></span><br/>
            </ng-container>
        </div>
        <div *ngIf='item.tender_type == "office"'>
            <label>פרטי המכרז</label><br/>
            <span class='label-text'>סוג המכרז: משרדי
            </span><br/>
            <span class='label-text'>מספר המכרז: 
                {{item.publication_id}}
            </span><br/>
            <ng-container *ngIf='item.description && item.description.length>34'>
                <span class='label-text'>תיאור:
                    <span [innerHtml]='tooltip(item.description)'></span>
                </span><br/>
            </ng-container>
            <span class='label-text' *ngIf='item.extended_status'>סטטוס:
                <span [innerHtml]='tooltip(item.extended_status)'></span>
            </span><br/>
        </div>
        <div *ngIf='item.tender_type == "central"'>
            <label>פרטי המכרז</label><br/>
            <span class='label-text'>סוג המכרז:
                מרכזי 
                <span *ngIf='item.regulation && item.regulation !== "מכרז"' [innerHtml]='" - " + tooltip(item.regulation)'></span>
            </span><br/>
            <span class='label-text'>מספר המכרז: 
                {{(item.publication_id && item.publication_id != '0') ? item.publication_id : item.tender_id }}
            </span><br/>
            <span class='label-text' *ngIf="item.description">תיאור:
                <span [innerHtml]='tooltip(item.description)'></span>
            </span><br/>
            <span class='label-text' *ngIf="item.extended_status">סטטוס:
                <span [innerHtml]='tooltip(item.extended_status)'></span>
            </span><br/>
        </div>

        <div *ngIf='item.contact'>
            <span class='label-text'>אנשי קשר: {{ item.contact }}</span>
        </div>
        <div  *ngIf='item.page_url'>
            <br/>
            <span class='label-text'>
                <a [href]='item.page_url' target='_blank'>
                    קישור לפרסום המקורי
                </a>
                &nbsp;&gt;&gt;
            </span>
        </div>
        
        <div class='awardees' *ngIf='item.awardees && item.awardees.length && item.contract_volume'>
            <table>
                <thead>
                    <th *ngIf='item.tender_type == "exemptions"'>ספק/ים</th>
                    <th *ngIf='item.tender_type != "exemptions"'>הזוכים במכרז</th>
                    <th>היקף ההתקשרות</th>
                    <th>סה״כ ביצוע</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor='let awardee of item.awardees'>
                        <td>
                            <a *ngIf='awardee.entity_id'
                                [href]='entityLink(awardee)'>
                                {{ awardee.entity_name }}
                            </a>
                            <span *ngIf='!awardee.entity_id'>
                                {{ awardee.entity_name }}
                            </span>
                        </td>
                        <td [innerHtml]='number(awardee.volume) + (awardee.volume ? "₪" : "")'></td>
                        <td [innerHtml]='number(awardee.executed) + (awardee.executed ? "₪" : "")'></td>
                        <td>
                            <ng-container *ngIf='item.awardees.length > 1 && item.contract_executed'>
                            (<span [innerHtml]='percent(awardee.executed/item.contract_executed)'></span>
                             <span *ngIf='awardee.count == 1'>בהתקשרות בודדת</span><span *ngIf='awardee.count > 1'>ב-{{awardee.count}} התקשרויות</span>)
                            </ng-container>
                        </td>
                    </tr>
                    <tr class='total' *ngIf='item.awardees.length > 1 && item.contract_executed'>
                        <td>סך הכל</td>
                        <td [innerHtml]='number(item.contract_volume) + (item.contract_volume ? "₪" : "")'></td>
                        <td [innerHtml]='number(item.contract_executed) + (item.contract_executed ? "₪" : "")'></td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='timeline' *ngIf='item.timeline'>
            <table>
                <tbody>
                    <tr *ngFor='let event of item.timeline; let i = index'
                        [class]="event.major ? 'major' : 'minor' ">
                        <td><timeline-part [size]='25' 
                                        [padding]='22' 
                                        [major]='event.major'
                                        [last]='i == (item.timeline.length - 1)'
                                        [percent]='event.percent'
                                        >
                            </timeline-part></td>
                        <td>{{ event.timestamp }}</td>
                        <td>
                            <a [href]='event.url' *ngIf='event.url' target='_blank'>
                                <i class='glyphicon glyphicon-paperclip'></i>                        
                            </a>
                        </td>
                        <td>
                            <a [href]='event.url' *ngIf='event.url' target='_blank'>
                                <span [innerHtml]='tooltip(event.title)'></span>
                            </a>
                            <ng-container *ngIf='!event.url'>
                                <span [innerHtml]='tooltip(event.title)'></span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='tips' *ngIf='actionables()'>
        <div class='tip' *ngFor='let tip of actionables()'>
            <div [innerHtml]='tooltip(tip[0])'></div>
            <a *ngIf='tip[1]' [href]='tip[1]'>פרטים נוספים</a>
        </div>
    </div>
</div>
<div class='attachments' *ngIf='item.documents && item.documents.length > 0'>
    <label>קבצים מצורפים:</label>
    <div class='file-list'>
        <div class='attachment' *ngFor='let attachment of item.documents'
            (click)='open_document(attachment)'>
            <div class='update-time' [innerHtml]='relative(attachment.update_time)'>
            </div>
            <div class='paperclip'>
                <i class='glyphicon glyphicon-paperclip'></i>
            </div>
            <div class='filename' [innerHtml]='tooltip(attachment.description)'>
            </div>
            <div class='icon'>
                <i class='glyphicon glyphicon-file'></i>
            </div>
        </div>
    </div>
</div>